@import "tailwindcss";

:root {
  --mg-purple: #271033;
  --mg-white: #FFFFFF;
  --mg-navy: #32668F;
}

@theme {
  --color-mg-purple: #271033;
  --color-mg-blue: #388697;
  --color-mg-navy: #32668F;
  --font-sans: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--mg-navy);
}
