@import "tailwindcss";

:root {
  --mg-purple: #271033;
  --mg-white: #FFFFFF;
  --mg-navy: #32668F;
}

@theme {
  --color-mg-purple: #271033;
  --color-mg-navy: #32668F;
  --color-mg-orange: #FA8334;
  --color-mg-teal: #388697;
  --color-mg-pink: #AD56AB;
  --font-sans: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--mg-navy);
}

.dotted {
  background-image: radial-gradient(circle 2px, var(--mg-navy) 2px, transparent 0);
  background-size: 25px 25px;
  opacity: 50%;
}
